<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="login-container">
            <div class="login-container-logo">
                <h1>pastebook</h1>
                <p>Connect with friends and the world<br>around you on Pastebook</p>
            </div>
            <div class="login-container-form">
                <form class = "login-container-form-form" [formGroup]="userForm">
                    <input formControlName="email" type="email" id="EmailAddress" placeholder="Email address">
                    <p *ngIf="email?.touched && email?.invalid">
                        <span *ngIf="email?.errors?.['required']">**This field is required!</span><br>
                        <span *ngIf="email?.errors?.['pattern']">**Use a valid email (ex. name@gmail.com).</span>
                    </p><br><br>
                    <input formControlName="password" type="password" id="Password" placeholder="Password">
                    <p *ngIf="password?.touched && password?.invalid"><span>**This field is required!</span></p><br><br>
                    <input type = "submit" value = "Log In" class="login-button" [disabled]="userForm.invalid">
                </form>
            </div>
        </div>
    </body>
</html>