<app-header></app-header>
<div class="home-body">
    <div class="home-body-leftsidepanel">
        <a routerLink="/login">
            <div class="home-body-leftsidepanel-profilelink">
                <div class="home-body-leftsidepanel-profilelink-picture">
                    <img src="./Images/group.png">
                </div>
                <div class="home-body-leftsidepanel-profilelink-name">
                    <div>Fullname</div>
                </div>
            </div>
        </a>
        <a routerLink="/login">
            <div class="home-body-leftsidepanel-friendslink">
                <div class="home-body-leftsidepanel-friendslink-icon">
                    <img src="./Images/group.png">
                </div>
                <div class="home-body-leftsidepanel-friendslink-name">
                    Friends
                </div>
            </div>
        </a>
    </div>

    <div class="home-body-timeline">
        <div class="home-timeline">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, rem at fuga quia, quibusdam, itaque natus nulla unde fugit aut aliquam quam quidem eius commodi tempore laudantium consequatur sapiente.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum natus dolor debitis optio qui fugit corrupti, inventore labore, sequi ratione, soluta molestiae commodi dicta quae vitae earum. Deleniti, quam et!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut illo ullam, ad doloribus rerum sint quos explicabo aliquam optio ea culpa quae commodi eaque placeat ducimus sunt sequi. Facilis, dignissimos.
        </div>
    </div>
</div>
