<app-header></app-header>
<div class="home-body">
    <div class="home-body-leftsidepanel">
        <a routerLink="/profile">
            <div class="home-body-leftsidepanel-profilelink">
                <div class="home-body-leftsidepanel-profilelink-picture">
                    <img src={{user.photo}}>
                </div>
                <div class="home-body-leftsidepanel-profilelink-name">
                    <a routerLink={{user.profileLink}}>
                        <div>{{user.firstName}} {{user.lastName}}</div>
                    </a>
                </div>
            </div>
        </a>
        <!-- <a routerLink="/friends">
            <div class="home-body-leftsidepanel-friendslink">
                <div class="home-body-leftsidepanel-friendslink-icon">
                    <img src="../../assets/group.png">
                </div>
                <div class="home-body-leftsidepanel-friendslink-name">
                    Friends
                </div>
            </div>
        </a> -->
    </div>

    <div class="home-body-timeline">
        <div class="home-timeline">
            <app-posts></app-posts>
        </div>
    </div>
</div>
