<app-header></app-header>
<div class="home-body">
    <div class="home-body-leftsidepanel">
        <a routerLink="/login">
            <div class="home-body-leftsidepanel-profilelink">
                <div class="home-body-leftsidepanel-profilelink-picture">
                    <img src="../../assets/img_avatar.png">
                </div>
                <div class="home-body-leftsidepanel-profilelink-name">
                    <div>Fullname</div>
                </div>
            </div>
        </a>
        <a routerLink="/login">
            <div class="home-body-leftsidepanel-friendslink">
                <div class="home-body-leftsidepanel-friendslink-icon">
                    <img src="../../assets/group.png">
                </div>
                <div class="home-body-leftsidepanel-friendslink-name">
                    Friends
                </div>
            </div>
        </a>
    </div>

    <div class="home-body-timeline">
        <div class="home-timeline">
            <app-posts></app-posts>
        </div>
    </div>
</div>
