<div class="profile-post-container-status-post">
    <div class="profile-post-container-status-post-profile">
        <img class="user-photo" src="../../../assets/img_avatar.png">
        <a href="#">
            <span id="user-details">
                <span id="poster-fullname">
                    @PosterFullName
                </span><br>
                <span id="date-created">@createdDate</span>
            </span>
        </a>
    </div>

    <div class="profile-post-container-status-post-caption">
        <span>@Model.Caption</span>
    </div>

    <div class="profile-post-container-status-post-photo">
        <a href="#"><img src="../../../assets/img_avatar.png"></a>
    </div>
</div>