<div class="profile-post-container-status-post">
    <div class="profile-post-container-status-post-profile">
        <img class="user-photo" src="../../../assets/img_avatar.png">
        <a href="#">
            <span id="user-details">
                <span id="poster-fullname">
                    {{post.profileLink}}
                </span><br>
                <span id="date-created">{{post.datePosted}}</span>
            </span>
        </a>
    </div>

    <div class="profile-post-container-status-post-caption">
        <span>{{post.caption}}</span>
    </div>

    <div class="profile-post-container-status-post-photo">
        <a href="#"><img src={{post.photo}}></a>
    </div>
</div>